body.light {
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  body.dark {
    --background-color: #000000;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .theme-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    color: var(--text-color);
  }